# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Tauri / Rust
src-tauri/target/*
!src-tauri/target/release/
src-tauri/target/release/*
!src-tauri/target/release/*.exe
!src-tauri/target/release/bundle/
src-tauri/gen/schemas/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
